<section class="about">
  <div class="container">
    <div class="highlight">
      <div class="highlight-main">
        <h2 class="title"><span>МеркуриМед - О КОМПАНИИ</span></h2>
        <div class="highlight-content">
          <p>МеркуриМед - это не просто частная медицинская компания, оказывающая комплекс услуг от взятия материалов на анализ до постановки диагноза. Мы делаем все для того, чтобы наши клиенты чувствовали уверенность в завтрашнем дне. Наши специалисты берут на себя личную и профессиональную ответственность за результат лечения пациентов.</p>
          <p>Мы внедряем инновационные методы диагностики и лечения, доказавшие свою безопасность и эффективность. А также единые стандарты качества оказания медицинской помощи и сервиса, строгий контроль их исполнения.</p>
        </div>
      </div>
      <div class="highlight-sidebar">
        <img src="img/about-1.jpg" alt="">
        <img src="img/about-2.jpg" alt="">
      </div>
    </div>
    <div class="about-row">
      <a href="https://www.youtube.com/watch?v=luFGI13Mv8o" data-fancybox class="about-video"><img src="img/about-video.jpg" alt=""></a>
      <ul class="about-nav">
        <li><a href="#">О Компании</a></li>
        <li><a href="#">Юридическая информация</a></li>
        <li><a href="#">Вакансии</a></li>
        <li><a href="#">Благодарности</a></li>
        <li><a href="#">Партнеры</a></li>
        <li><a href="#">Обратная связь</a></li>
        <li><a href="#">Контролирующие органы</a></li>
        <li><a href="#">Написать руководству</a></li>
      </ul>
    </div>
  </div>
</section>