<section class="best">
  <div class="container">
    <div class="best-grid">
      <div class="best-item">
        <h3 class="best-item__title">КОМФОРТ</h3>
        <div class="best-item__content">
          <ul>
            <li><b>Электронная очередь.</b> Больше не нужно спрашивать “Кто последний?”</li>
            <li><b>Просторная зона ожидания</b> с системой климат контроля</li>
            <li><b>Выделение отдельных дней и времени</b> для продолжения осмотра, не пересеккающегося с другими организациями в случае организованного осмотра</li>
            <li><b>Отдельный консультант</b> в холле, который ответит на все вопросы</li>
            <li><b>Персональный менеджер</b>, закрепленный за организацией</li>
          </ul>
        </div>
      </div>
      <div class="best-item">
        <h3 class="best-item__title">Качество</h3>
        <div class="best-item__content">
          <ul>
            <li>Мы <b>проводим осмотр</b>, а не пропечатываем</li>
            <li><b>Строгое соответствие</b> приказу Минздрава №29 Н</li>
            <li><b>Минимальный стаж</b> работы врача 5 лет</li>
            <li>Наши врачи проходят не только <b>обязательные квалификационные обучения</b>, но и дополнительные на базе крупных федеральных центров Москвы и Санкт-Петербурга</li>
            <li><b>Аппараты экспертного класса</b> проверенных мировых брендов</li>
          </ul>
        </div>
      </div>
      <div class="best-item">
        <h3 class="best-item__title">Оперативность</h3>
        <div class="best-item__content">
          <ul>
            <li><b>Среднее время нахождения</b> сотрудника в центре 1,5-2 часа</li>
            <li>Среднее время готовности заключения - <b>3 рабочих дня</b></li>
          </ul>
        </div>
      </div>
      <div class="best-item">
        <h3 class="best-item__title">Опыт</h3>
        <div class="best-item__content">
          <ul>
            <li>18 987 человек получили медицинскую помощь в рамках медосмотров в 2021 году</li>
            <li>Более 300 договоров с юридическими лицами о проведении медицинских осмотров, действующих на текущий момент</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>