<section class="faq">
  <div class="container">
    <h2 class="title"><span>Вопросы - ответы</span></h2>
    <div class="faq-item">
      <div class="faq-title">Кому необходим медосмотр для устройства на работу?</div>
      <div class="faq-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores distinctio hic magnam commodi alias enim molestiae nisi numquam id provident amet deleniti eaque placeat recusandae itaque aspernatur pariatur, tempora qui?</div>
    </div>
    <div class="faq-item">
      <div class="faq-title">Когда необходим пройти первичный (предварительный) медицинский осмотр?</div>
      <div class="faq-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores distinctio hic magnam commodi alias enim molestiae nisi numquam id provident amet deleniti eaque placeat recusandae itaque aspernatur pariatur, tempora qui?</div>
    </div>
    <div class="faq-item">
      <div class="faq-title">Каких врачей и какие анализы нужно пройти?</div>
      <div class="faq-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores distinctio hic magnam commodi alias enim molestiae nisi numquam id provident amet deleniti eaque placeat recusandae itaque aspernatur pariatur, tempora qui?</div>
    </div>
    <div class="faq-item">
      <div class="faq-title">Обязательный перечень анализов и диагностических исследований</div>
      <div class="faq-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores distinctio hic magnam commodi alias enim molestiae nisi numquam id provident amet deleniti eaque placeat recusandae itaque aspernatur pariatur, tempora qui?</div>
    </div>
    <div class="faq-item">
      <div class="faq-title">Виды деятельности, при осуществлении которых проходят медицинское освидетельствование</div>
      <div class="faq-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores distinctio hic magnam commodi alias enim molestiae nisi numquam id provident amet deleniti eaque placeat recusandae itaque aspernatur pariatur, tempora qui?</div>
    </div>
    <div class="faq-item">
      <div class="faq-title">Алгоритм прохождения медицинского осмотра на работу</div>
      <div class="faq-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores distinctio hic magnam commodi alias enim molestiae nisi numquam id provident amet deleniti eaque placeat recusandae itaque aspernatur pariatur, tempora qui?</div>
    </div>
  </div>
</section>