<footer class="footer">
  <div class="container">
    <div class="footer-bubble"><span></span><span></span><span></span></div>
    <div class="footer-sidebar">
      <a href="/" class="footer-logo"><img src="img/logo.png" alt=""></a>
      <div class="footer-phone">
        <p>Горячая линия</p>
        <a href="tel:8 8212 4000 75">8 8212 4000 75</a>
      </div>
      <a href="#" class="footer-btn">ONLINE ЗАПИСЬ</a>
      <a href="#" class="footer-link">Написать руководству</a>
    </div>
    <div class="footer-main">
      <div class="footer-row">
        <ul class="footer-nav">
          <li><a href="#">Услуги и цены</a></li>
          <li><a href="#">Комплексные программы</a></li>
          <li><a href="#">Врачи и специалисты</a></li>
          <li><a href="#">Медосмотры</a></li>
          <li><a href="#">Организациям</a></li>
          <li><a href="#">Партнерам</a></li>
        </ul>
        <ul class="footer-nav">
          <li><a href="#">О компании</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Обратная связь</a></li>
          <li class="bottom"><a href="#">Вход в личный кабинет</a></li>
        </ul>
      </div>
      <div class="footer-row bottom">
        <ul class="footer-nav">
          <li><a href="#">Политика конфиденциальности и Пользовательское соглашение</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>