<header class="header">
  <div class="header-pc">
    <div class="header-top">
      <div class="container">
        <div class="header-city">
          <div class="header-city__active">Сыктывкар</div>
        </div>
        <ul class="header-subnav">
          <li><a href="#">О компании</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Обратная связь</a></li>
          <li><a href="javascript:;" class="bvi-open"><span>Для слабовидящих<i></i></span></a></li>
          <li><a href="#"><i class="login"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="header-middle">
      <div class="container">
        <a href="/" class="header-logo"><img src="img/logo.png" alt=""></a>
        <form action="#" class="header-search">
          <input type="text" placeholder="Поиск..." /><button></button>
        </form>
        <div class="header-phone">
          <p>Горячая линия</p>
          <a href="tel:8 8212 4000 75">8 8212 4000 75</a>
        </div>
        <a href="#" class="header-btn">Записаться на прием</a>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container">
        <ul class="header-nav">
          <li><a href="#">Услуги и цены</a></li>
          <li><a href="#">Комплексные программы</a></li>
          <li><a href="#">Врачи и специалисты</a></li>
          <li><a href="#">Медосмотры</a></li>
          <li><a href="#">Организациям</a></li>
          <li><a href="#">Партнерам</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="headerMob">
    <div class="headerMob-top">
      <div class="container">
        <a href="/" class="headerMob-logo"><img src="img/logo.png" alt=""></a>
        <div class="headerMob-city">
          <div class="headerMob-city__active">Сыктывкар</div>
        </div>
      </div>
    </div>
    <div class="headerMob-middle">
      <div class="container">
        <a href="tel:8 8212 4000 75" class="headerMob-phone">8 8212 4000 75</a>
        <ul class="headerMob-links">
          <li><a href="javascript:;" class="bvi-open"><img src="img/svg/bvi.svg" alt=""></a></li>
          <li><a href="#"><img src="img/svg/login.svg" alt=""></a></li>
        </ul>
        <div class="headerMob-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <a href="#" class="btn">Записаться на прием</a>
  </div>
  <div class="header-dropdown">
    <ul class="header-dropdown__nav">
      <li><a href="#">Услуги и цены</a></li>
      <li><a href="#">Комплексные программы</a></li>
      <li><a href="#">Врачи и специалисты</a></li>
      <li><a href="#">Медосмотры</a></li>
      <li><a href="#">Организациям</a></li>
      <li><a href="#">Партнерам</a></li>
    </ul>
    <ul class="header-dropdown__nav">
      <li><a href="#">О компании</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Отделения</a></li>
      <li><a href="#">Обратная связь</a></li>
    </ul>
  </div>
</header>