<div class="complex-item">
  <div class="highlight">
    <div class="highlight-main">
      <h2 class="title"><span>Комплексы по гинекологии</span></h2>
      <div class="highlight-content">
        <p>МеркуриМед - это не просто частная медицинская компания, оказывающая комплекс услуг от взятия материалов на анализ до постановки диагноза. Мы делаем все для того, чтобы наши клиенты чувствовали уверенность в завтрашнем дне. Наши специалисты берут на себя личную и профессиональную ответственность за результат лечения пациентов. МеркуриМед - это не просто частная медицинская компания, оказывающая комплекс услуг от взятия материалов на анализ до постановки диагноза. Мы делаем все для того, чтобы наши клиенты чувствовали уверенность в завтрашнем дне.</p>
      </div>
    </div>
    <div class="highlight-sidebar">
      <img src="img/complex-item.jpg" alt="">
      <a href="#" class="btn btn-outline">Заполнить заявление</a>
    </div>
  </div>
</div>