<div class="complex-item">
  <img src="img/complex-item.jpg" alt="" class="complex-item__image">
  <a href="#" class="btn btn-outline">Подробнее о комплексах</a>
  <h2 class="title"><span>Комплексы по гинекологии</span></h2>
  <div class="complex-item__wrapper">
    <div class="complex-item__text">
      <p>МеркуриМед - это не просто частная медицинская компания, оказывающая комплекс услуг от взятия материалов на анализ до постановки диагноза. Мы делаем все для того, чтобы наши клиенты чувствовали уверенность в завтрашнем дне. Наши специалисты берут на себя личную и профессиональную ответственность за результат лечения пациентов. МеркуриМед - это не просто частная медицинская компания, оказывающая комплекс услуг от взятия материалов на анализ до постановки диагноза. Мы делаем все для того, чтобы наши клиенты чувствовали уверенность в завтрашнем дне.</p>
    </div>
  </div>
</div>