<div class="popup" id="popup">
  <div class="popup-content">
    <img src="img/feedback-doc.png" alt="" class="popup-doc">
    <form action="#" method="post" class="popup-form">
      <h2 class="title">ОСТАВИТЬ ОБРАЩЕНИЕ ИЛИ ОБРАТНУЮ СВЯЗЬ</h2>
      <input type="text" name="name" class="input" placeholder="Имя" required />
      <input type="tel" name="phone" class="input masked" placeholder="Телефон" required />
      <textarea name="text" class="textarea" placeholder="Текст" required></textarea>
      <label class="checkbox">
        <input type="checkbox" checked required />
        <p>Даю <a href="#">согласие на обработку данных</a></p>
      </label>
      <button class="btn">ОТПРАВИТЬ</button>
    </form>
  </div>
</div>