<div class="price">
  <h3 class="price-title">Название раздела</h3>
  <div class="price-table">
    <div class="price-row">
      <div class="price-col">Название услуги</div>
      <div class="price-col">Цена, руб.</div>
    </div>
    <div class="price-row">
      <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
      <div class="price-col">1400</div>
    </div>
    <div class="price-row">
      <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
      <div class="price-col">1400</div>
    </div>
    <div class="price-row">
      <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
      <div class="price-col">1400</div>
    </div>
    <div class="price-row">
      <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
      <div class="price-col">1400</div>
    </div>
    <div class="price-row">
      <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
      <div class="price-col">1400</div>
    </div>
  </div>
</div>