<div class="specialists-reviews__item">
  <div class="specialists-reviews__info">
    <b>Галина</b>
    <p>07 ноября 2022, 13:11</p>
  </div>
  <div class="specialists-reviews__rating" data-stars="5"></div>
  <div class="specialists-reviews__text">Я переезжала из Архангельска в Москву в апреле 2022 г. Эту саратовскую компанию я нашла в интернете. Раньше я об этой компании даже не слышала. Но они подкупили своей стоимостью перевозки, она была на процентов 40 ниже, чем известные компании. И я уже оставляла свой положительный отзыв об их слаженной работе. Я довольна их работой на 20</div>
</div>