<div class="services-grid">
  <div class="ublock">
    <div class="ublock-head">
      <div class="ublock-head__icon"><img src="img/svg/u-1.svg" alt=""></div>
      <h3 class="ublock-head__title">Прием Врачей и специалистов</h3>
    </div>
    <div class="ublock-content">
      <div class="ublock-col">
        <ul class="ublock-links">
          <li><a href="#">Терапевт</a></li>
          <li><a href="#">Эндокринолог</a></li>
          <li><a href="#">Гинеколог</a></li>
          <li><a href="#">Акушер-гинеколог</a></li>
          <li><a href="#">Дерматовенеролог</a></li>
          <li><a href="#">Онколог (маммолог)</a></li>
          <li><a href="#">Отоларинголог</a></li>
          <li><a href="#">Офтальмолог</a></li>
        </ul>
      </div>
      <div class="ublock-col">
        <ul class="ublock-links">
          <li><a href="#">Кардиолог</a></li>
          <li><a href="#">Ортопед</a></li>
          <li><a href="#">Хирург</a></li>
          <li><a href="#">Невролог</a></li>
          <li><a href="#">Гастроэнтеролог</a></li>
          <li><a href="#">Инфекционист</a></li>
          <li><a href="#">Психотерапевт</a></li>
          <li><a href="#">Профпатолог</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ublock">
    <div class="ublock-head">
      <div class="ublock-head__icon"><img src="img/svg/u-2.svg" alt=""></div>
      <h3 class="ublock-head__title">Диагностикические исследования</h3>
    </div>
    <div class="ublock-content">
      <div class="ublock-col">
        <ul class="ublock-links">
          <li><a href="#">Ультразвуковые исследования</a></li>
          <li><a href="#">Маммография</a></li>
          <li><a href="#">Эластометрия печени</a></li>
          <li><a href="#">ЭЭГ (Электроэнцефалография)</a></li>
          <li><a href="#">ЭКГ (Электрокардиография)</a></li>
          <li><a href="#">ЭХО-КГ (Эхокардиография)</a></li>
          <li><a href="#">Рентегенография пазух носа</a></li>
          <li><a href="#">Риноцитограмма (ЦКДЛ)</a></li>
          <li><a href="#">Дерматоскопия</a></li>
          <li><a href="#">Анализ микробиоты</a></li>
          <li><a href="#">Суточный мониторинг АД</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ublock">
    <div class="ublock-head">
      <div class="ublock-head__icon"><img src="img/svg/u-3.svg" alt=""></div>
      <h3 class="ublock-head__title">Анализы и процедурный кабинет</h3>
    </div>
    <div class="ublock-content">
      <div class="ublock-col">
        <ul class="ublock-links">
          <li><a href="#">Биохимические исследования крови</a></li>
          <li><a href="#">Общеклинические исследования</a></li>
          <li><a href="#">Биохимические исследования мочи</a></li>
          <li><a href="#">Бактериологические исследования</a></li>
          <li><a href="#">Коагулогические исследования</a></li>
          <li><a href="#">Анализ микробиоты по Осипову</a></li>
          <li><a href="#">Услуги процедурного кабинета</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ublock">
    <div class="ublock-head">
      <div class="ublock-head__icon"><img src="img/svg/u-4.svg" alt=""></div>
      <h3 class="ublock-head__title">Лечение на базе МеркуриМед</h3>
    </div>
    <div class="ublock-content">
      <div class="ublock-col">
        <ul class="ublock-links">
          <li><a href="#">Гинекология</a></li>
          <li><a href="#">Оториноларингология</a></li>
          <li><a href="#">Психотерапия</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ublock">
    <div class="ublock-head">
      <div class="ublock-head__icon"><img src="img/svg/u-5.svg" alt=""></div>
      <h3 class="ublock-head__title">Медосмотры  для организаций и физ.лиц</h3>
    </div>
    <div class="ublock-content vertical">
      <div class="ublock-col">
        <ul class="ublock-links">
          <li class="b"><a href="#">МО Физ.лицам</a></li>
          <li><a href="#">Медосмотр для трудоустройства</a></li>
          <li><a href="#">Медосмотр для получения справки</a></li>
        </ul>
      </div>
      <div class="ublock-col">
        <ul class="ublock-links">
          <li class="b"><a href="#">Организациям</a></li>
          <li><a href="#">Первичный/Периодический медосмотр</a></li>
          <li><a href="#">Предрейсовый/послерейсовый осмотр</a></li>
          <li><a href="#">Услуги через ДМССтраховым компаниям</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ublock">
    <div class="ublock-head">
      <div class="ublock-head__icon"><img src="img/svg/u-6.svg" alt=""></div>
      <h3 class="ublock-head__title">Комплексные программы</h3>
    </div>
    <div class="ublock-content">
      <div class="ublock-col">
        <ul class="ublock-links">
          <li><a href="#">Комплексы по гинекологии</a></li>
          <li><a href="#">Комплексы терапевтические</a></li>
          <li><a href="#">Комплексы по эндокринологии</a></li>
          <li><a href="#">Комплексы по маммологии</a></li>
          <li><a href="#">Комплекс "Спортсмен"</a></li>
          <li><a href="#">Комплекс "Здоровая печень"</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>