.news
  padding-bottom: var(--gap)
  &-grid
    @include flexbox
    align-items: flex-start
    gap: 32px
  &-col
    width: calc(100% / 2 - 16px)
    @include flexbox
    flex-direction: column
    align-items: flex-start
    gap: 32px
  &-item
    @include flexbox
    align-items: center
    gap: 24px
    width: 100%
    &__poster
      width: calc(100% - 240px - 24px)
      height: 200px
      border-radius: 10px
      object-fit: cover
      object-position: center
    &__content
      width: 240px
      @include flexbox
      flex-direction: column
      align-items: flex-start
      gap: 8px
    &__date
      font-size: 14px
      font-weight: 700
      color: var(--color-turquoise)
    &__title
      color: var(--color-orange)
      font-size: 17px
      font-weight: 700
      -webkit-line-clamp: 3
      display: -webkit-box
      -webkit-box-orient: vertical
      overflow: hidden
    &__summary
      font-size: 14px
      line-height: 24px
      color: var(--color-dark-gray)
      -webkit-line-clamp: 4
      display: -webkit-box
      -webkit-box-orient: vertical
      overflow: hidden
    &__big
      .news-item__poster
        width: 100%
        height: 250px
      .news-item__content
        width: 100%
      .news-item__title
        font-size: 24px
  .btn-wrap
    margin-top: 40px
    justify-content: center
  .btn
    max-width: 360px

  &-page__grid
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 32px 16px
  &-pagination
    @include flexbox
    align-items: center
    justify-content: space-between
    margin-top: 32px
    padding-top: 32px
    border-top: 1px solid #eee
    &__list
      @include flexbox
      align-items: center
      gap: 2px
      li
        a
          @include flexbox
          align-items: center
          justify-content: center
          width: 40px
          height: 40px
          border-radius: 8px
          &:hover
            color: var(--color-orange)
        &.active a
          background: #f1f1f1
          color: var(--color-orange)
        &.separator
          width: 40px
          height: 40px
          @include flexbox
          align-items: center
          justify-content: center
    &__prev, &__next
      height: 40px
      width: 150px
      @include flexbox
      align-items: center
      justify-content: center
      border-radius: 8px
      border: 1px solid #D0D5DD
      gap: 8px
    &__prev::before
      content: ''
      display: block
      width: 20px
      height: 20px
      background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8337 10H4.16699M4.16699 10L10.0003 15.8333M4.16699 10L10.0003 4.16667' stroke='%23FF9501' stroke-width='1.67' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center / cover
    &__next::after
      content: ''
      display: block
      width: 20px
      height: 20px
      background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8337 10H4.16699M4.16699 10L10.0003 15.8333M4.16699 10L10.0003 4.16667' stroke='%23FF9501' stroke-width='1.67' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center / cover
      transform: rotate(180deg)
