.partners
  padding-bottom: var(--gap)
  &-grid
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 30px 60px
    align-items: center
    li
      a
        display: block
        img
          max-height: 90px
