.specialists
  padding-bottom: var(--gap)
  &-top
    @include flexbox
    align-items: flex-start
    padding-top: 7px
    margin-bottom: 40px
    .title
      margin-bottom: 0
    &__filter
      @include flexbox
      align-items: center
      gap: 24px
      flex: 1
      justify-content: flex-end
    &__search
      position: relative
      max-width: 260px
      width: 100%
      input
        width: 100%
        background: #fff
        height: 42px
        border-radius: 10px
        padding-right: 42px
        padding-left: 15px
        border: 1px solid var(--color-turquoise)
      button
        width: 42px
        height: 42px
        position: absolute
        top: 0
        right: 0
        cursor: pointer
        background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.728 17.2913L15.8332 13.3971C15.6574 13.2214 15.4191 13.1237 15.1691 13.1237H14.5323C15.6105 11.7449 16.2512 10.0107 16.2512 8.12421C16.2512 3.63636 12.6142 0 8.12559 0C3.63698 0 0 3.63636 0 8.12421C0 12.612 3.63698 16.2484 8.12559 16.2484C10.0125 16.2484 11.747 15.6079 13.126 14.5298V15.1665C13.126 15.4165 13.2236 15.6547 13.3994 15.8305L17.2942 19.7246C17.6614 20.0918 18.2552 20.0918 18.6185 19.7246L19.7241 18.6193C20.0913 18.2521 20.0913 17.6584 19.728 17.2913ZM8.12559 13.1237C5.36367 13.1237 3.12523 10.8896 3.12523 8.12421C3.12523 5.36276 5.35977 3.12469 8.12559 3.12469C10.8875 3.12469 13.126 5.35885 13.126 8.12421C13.126 10.8857 10.8914 13.1237 8.12559 13.1237Z' fill='%2332B6B8'/%3E%3C/svg%3E%0A") no-repeat center
    &__select
      height: 42px
      border: 1px solid #DDE2E4
      border-radius: 10px
      padding: 9px 4px 9px 12px
      @include flexbox
      align-items: center
      gap: 4px
      cursor: pointer
      select
        height: 100%
        padding: 0
        appearance: none
        cursor: pointer
      &::after
        content: ''
        display: block
        width: 22px
        height: 22px
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10.5L12 14.5L16 10.5' stroke='%23828282'/%3E%3C/svg%3E%0A") no-repeat center
  &-grid
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 40px 16px
  &-item
    font-size: 16px
    line-height: 25px
    &__photo
      object-fit: cover
      object-position: center
      border-radius: 20px
      width: 100%
      height: 315px
    &__name
      font-weight: 700
      color: var(--color-dark-turquoise)
      display: block
      min-height: 50px
      margin-top: 20px
    &__info
      color: var(--color-dark-gray)
      margin-top: 16px
    .btn
      margin-top: 16px

  &-price
    padding-bottom: var(--gap)
  &-single
    padding-bottom: var(--gap)
    &__card
      @include flexbox
    &__photo
      width: 270px
      height: 270px
      border-radius: 20px
      background: var(--color-turquoise)
      position: relative
      img
        width: 100%
        max-width: initial
        position: absolute
        bottom: 0
        left: 0
        border-bottom-left-radius: 20px
        border-bottom-right-radius: 20px
    &__info
      width: calc(100% - 270px - 25px)
      margin-left: auto
      @include flexbox
      flex-direction: column
      align-items: flex-start
    &__label
      margin-bottom: 15px
      line-height: 20px
      width: 100%
      b
        display: block
        font-weight: 700
        color: var(--color-turquoise)
      a
        color: var(--color-dark-turquoise)
        border-bottom: 1px solid var(--color-dark-turquoise)
    &__btn
      @include flexbox
      align-items: flex-start
      margin-top: auto
      gap: 20px
      width: 100%
      .btn
        max-width: 330px
      .btn-outline
        max-width: 200px
    &__text
      margin-top: 30px
      line-height: 25px
      h4
        font-weight: 700
        color: var(--color-turquoise)
        font-size: 14px
      p
        margin-top: 15px
  &-reviews
    background: var(--color-turquoise)
    color: #fff
    padding: 30px 0
    margin-bottom: var(--gap)
    .container
      &::before, &::after
        content: ''
        position: absolute
        background: #44c8ca
        border-radius: 100%
      &::before
        bottom: -60px
        right: -90px
        width: 60px
        height: 60px
      &::after
        bottom: -100px
        right: -140px
        width: 30px
        height: 30px
    .title
      color: #fff
      span
        border-color: #fff
    &__slider
      margin: 0 -20px
      &::after
        content: ''
        width: 2px
        position: absolute
        top: 0
        right: 0
        bottom: 0
        background: var(--color-turquoise)
    &__control
      position: absolute
      top: -55px
      right: 70px
    &__item
      padding: 0 20px
      position: relative
      &::before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        width: 1px
        background: #84D9DA
    &__info
      @include flexbox
      align-items: center
      justify-content: space-between
      b
        font-size: 16px
        font-weight: 700
      p
        font-size: 14px
    &__text
      font-size: 14px
      line-height: 25px
      margin-top: 15px
    &__rating
      position: relative
      margin-top: 15px
      &::before
        content: ''
        width: 124px
        height: 20px
        display: block
        background: url("data:image/svg+xml,%3Csvg width='124' height='20' viewBox='0 0 124 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0L13.5267 5.1459L19.5106 6.90983L15.7063 11.8541L15.8779 18.0902L10 16L4.12215 18.0902L4.29366 11.8541L0.489435 6.90983L6.47329 5.1459L10 0Z' fill='%2300A8AA'/%3E%3Cpath d='M36 0L39.5267 5.1459L45.5106 6.90983L41.7063 11.8541L41.8779 18.0902L36 16L30.1221 18.0902L30.2937 11.8541L26.4894 6.90983L32.4733 5.1459L36 0Z' fill='%2300A8AA'/%3E%3Cpath d='M62 0L65.5267 5.1459L71.5106 6.90983L67.7063 11.8541L67.8779 18.0902L62 16L56.1221 18.0902L56.2937 11.8541L52.4894 6.90983L58.4733 5.1459L62 0Z' fill='%2300A8AA'/%3E%3Cpath d='M88 0L91.5267 5.1459L97.5106 6.90983L93.7063 11.8541L93.8779 18.0902L88 16L82.1221 18.0902L82.2937 11.8541L78.4894 6.90983L84.4733 5.1459L88 0Z' fill='%2300A8AA'/%3E%3Cpath d='M114 0L117.527 5.1459L123.511 6.90983L119.706 11.8541L119.878 18.0902L114 16L108.122 18.0902L108.294 11.8541L104.489 6.90983L110.473 5.1459L114 0Z' fill='%2300A8AA'/%3E%3C/svg%3E%0A") no-repeat center
      &::after
        content: ''
        height: 20px
        position: absolute
        top: 0
        left: 0
        background: url("data:image/svg+xml,%3Csvg width='124' height='20' viewBox='0 0 124 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0L13.5267 5.1459L19.5106 6.90983L15.7063 11.8541L15.8779 18.0902L10 16L4.12215 18.0902L4.29366 11.8541L0.489435 6.90983L6.47329 5.1459L10 0Z' fill='%23006C6E'/%3E%3Cpath d='M36 0L39.5267 5.1459L45.5106 6.90983L41.7063 11.8541L41.8779 18.0902L36 16L30.1221 18.0902L30.2937 11.8541L26.4894 6.90983L32.4733 5.1459L36 0Z' fill='%23006C6E'/%3E%3Cpath d='M62 0L65.5267 5.1459L71.5106 6.90983L67.7063 11.8541L67.8779 18.0902L62 16L56.1221 18.0902L56.2937 11.8541L52.4894 6.90983L58.4733 5.1459L62 0Z' fill='%23006C6E'/%3E%3Cpath d='M88 0L91.5267 5.1459L97.5106 6.90983L93.7063 11.8541L93.8779 18.0902L88 16L82.1221 18.0902L82.2937 11.8541L78.4894 6.90983L84.4733 5.1459L88 0Z' fill='%23006C6E'/%3E%3Cpath d='M114 0L117.527 5.1459L123.511 6.90983L119.706 11.8541L119.878 18.0902L114 16L108.122 18.0902L108.294 11.8541L104.489 6.90983L110.473 5.1459L114 0Z' fill='%23006C6E'/%3E%3C/svg%3E%0A") no-repeat left center
      &[data-stars="5"]::after
        width: 124px
      &[data-stars="4"]::after
        width: 98px
      &[data-stars="3"]::after
        width: 72px
      &[data-stars="2"]::after
        width: 46px
      &[data-stars="1"]::after
        width: 20px
  &-more
    margin-top: -30px
    margin-bottom: 70px
    .btn
      max-width: 370px
      margin: 0 auto
