{% extends 'components/_layout.html' %}
{% set site_title = 'О компании' %}

{% block content %}

{% include 'components/about-section.html' %}

<section class="legal">
  <div class="container">
    <h2 class="title"><span>Юридическая информация</span></h2>
    <div class="legal-list">
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
    </div>
    <div class="legal-btn"><a href="javascript:;" class="btn btn-outline">Показать больше документов</a></div>
  </div>
</section>

<section class="vacancy">
  <div class="container">
    <div class="highlight">
      <div class="highlight-main">
        <h2 class="title"><span>Вакансии</span></h2>
        <div class="highlight-content">
          <p>Мы всегда рады сотрудничеству с профессионалами, которые готовы развиваться и помогать людям вместе с нами!</p>
          <p>Открытые вакансии:</p>
          <ul>
            <li>Врач-оториноларинголог</li>
            <li>Врач-невролог</li>
            <li>SMM-менеджер / Специалист по ведению пабликов в социальных сетях</li>
            <li>врач акушер-гинеколог</li>
            <li>администратор</li>
            <li>медицинская сестра (мед. брат) по массажу</li>
          </ul>
        </div>
      </div>
      <div class="highlight-sidebar">
        <img src="img/vacancy.jpg" alt="">
        <a href="#" class="btn">ОТПРАВИТЬ РЕЗЮМЕ</a>
        <a href="#" class="btn btn-outline">Позвонить в отдел кадров</a>
      </div>
    </div>
  </div>
</section>

{% include 'components/feedback-section.html' %}

{% endblock %}