{% extends 'components/_layout.html' %}
{% set site_title = 'О компании' %}

{% block content %}

{% include 'components/sections/about.html' %}

<section class="legal">
  <div class="container">
    <h2 class="title"><span>Юридическая информация</span></h2>
    <div class="legal-list">
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
    </div>
    {# Если больше 5 документов, то отрисовывай кнопку #}
    <div class="legal-btn"><a href="javascript:;" class="btn btn-outline">Показать больше документов</a></div>
  </div>
</section>

<section class="vacancy">
  <div class="container">
    <div class="highlight">
      <div class="highlight-main">
        <h2 class="title"><span>Вакансии</span></h2>
        <div class="highlight-content">
          <p>Мы всегда рады сотрудничеству с профессионалами, которые готовы развиваться и помогать людям вместе с нами!</p>
          <p>Открытые вакансии:</p>
          <ul>
            <li>Врач-оториноларинголог</li>
            <li>Врач-невролог</li>
            <li>SMM-менеджер / Специалист по ведению пабликов в социальных сетях</li>
            <li>врач акушер-гинеколог</li>
            <li>администратор</li>
            <li>медицинская сестра (мед. брат) по массажу</li>
          </ul>
        </div>
      </div>
      <div class="highlight-sidebar">
        <img src="img/vacancy.jpg" alt="">
        <a href="#" class="btn">ОТПРАВИТЬ РЕЗЮМЕ</a>
        <a href="#" class="btn btn-outline">Позвонить в отдел кадров</a>
      </div>
    </div>
  </div>
</section>

<section class="gratitude">
  <div class="container">
    <h2 class="title"><span>Благодарности</span></h2>
    <div class="control gratitude-control">
      <div class="prev gratitude-prev"></div>
      <div class="next gratitude-next"></div>
    </div>
    <div class="splide gratitude-slider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"><a href="img/gratitude.jpg" data-fancybox><img src="img/gratitude.jpg" alt=""></a></li>
          <li class="splide__slide"><a href="img/gratitude.jpg" data-fancybox><img src="img/gratitude.jpg" alt=""></a></li>
          <li class="splide__slide"><a href="img/gratitude.jpg" data-fancybox><img src="img/gratitude.jpg" alt=""></a></li>
          <li class="splide__slide"><a href="img/gratitude.jpg" data-fancybox><img src="img/gratitude.jpg" alt=""></a></li>
          <li class="splide__slide"><a href="img/gratitude.jpg" data-fancybox><img src="img/gratitude.jpg" alt=""></a></li>
          <li class="splide__slide"><a href="img/gratitude.jpg" data-fancybox><img src="img/gratitude.jpg" alt=""></a></li>
          <li class="splide__slide"><a href="img/gratitude.jpg" data-fancybox><img src="img/gratitude.jpg" alt=""></a></li>
          <li class="splide__slide"><a href="img/gratitude.jpg" data-fancybox><img src="img/gratitude.jpg" alt=""></a></li>
          <li class="splide__slide"><a href="img/gratitude.jpg" data-fancybox><img src="img/gratitude.jpg" alt=""></a></li>
          <li class="splide__slide"><a href="img/gratitude.jpg" data-fancybox><img src="img/gratitude.jpg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="partners">
  <div class="container">
    <h2 class="title"><span>ПАРТНЕРЫ</span></h2>
    <ul class="partners-grid">
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
    </ul>
  </div>
</section>

<section class="supervisory">
  <div class="container">
    <h2 class="title"><span>Контролирующие органы</span></h2>
    <div class="supervisory-item">
      <a href="#" class="supervisory-item__title">Министерство Здравоохранения Российской Федерации</a>
      <div class="supervisory-item__content">
        <p>Адрес: г. Москва, Рахмановский переулок д.3</p>
        <p>Телефон «горячей линии» <span>8 800 200-03-089</span></p>
        <p>Телефоны Справочной службы <span>8 495 628-44-53; 8 495 627-29-44</span></p>
        <p>Многоканальный телефон <span>8 495 627-24-00</span></p>
        <p>Телефон для информирования о факте обращения граждан <span>8 495 627-29-93</span></p>
      </div>
    </div>
    <div class="supervisory-item">
      <a href="#" class="supervisory-item__title">Министерство Здравоохранения Республики Коми</a>
      <div class="supervisory-item__content">
        <p>Адрес: г. Сыктывкар, ул. Ленина, 73</p>
        <p>Контактный телефон: <span>(8212) 284-600, 286-040</span></p>
        <p>Телефон (факс) <span>301-680, 301-681</span></p>
        <p>Телефон «горячей линии»: <span>(8212) 255-455</span></p>
        <p>E-mail: mz@minzdrav.rkomi.ru</p>
      </div>
    </div>
    <div class="supervisory-item">
      <a href="#" class="supervisory-item__title">Управление Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по Республике Коми</a>
      <div class="supervisory-item__content">
        <p>Адрес: г. Сыктывкар, ул. Орджоникидзе, 71</p>
        <p>Телефон <span>(8212) 213-331</span></p>
        <p>E-mail: tu@gsenkomi.ru</p>
      </div>
    </div>
    <div class="supervisory-item">
      <a href="#" class="supervisory-item__title">Территориальный орган Федеральной службы по надзору в сфере здравоохранения по Республике Коми</a>
      <div class="supervisory-item__content">
        <p>Адрес: г. Сыктывкар, ул. Куратова, д.18</p>
        <p>Телефон <span>(8212) 240-896, 214-373</span></p>
        <p>E-mail: info@reg11.roszdravnadzor.ru</p>
      </div>
    </div>
  </div>
</section>

{% include 'components/sections/feedback.html' %}

{% endblock %}