{% extends 'components/_layout.html' %}
{% set site_title = 'О компании' %}

{% block content %}

{% include 'components/about-section.html' %}

<section class="legal">
  <div class="container">
    <h2 class="title"><span>Юридическая информация</span></h2>
    <div class="legal-list">
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
    </div>
    <div class="legal-btn"><a href="javascript:;" class="btn btn-outline">Показать больше документов</a></div>
  </div>
</section>

{% include 'components/feedback-section.html' %}

{% endblock %}