{% extends 'components/_layout.html' %}
{% set site_title = 'Комплексы' %}

{% block content %}

<section class="checkup-head">
  <div class="container">
    <img src="img/checkup-item.jpg" alt="" class="checkup-head__image">
    <h2 class="title"><span>Медосмотры</span></h2>
    <div class="checkup-head__wrapper">
      <div class="checkup-head__text">
        <p>МеркуриМед - это не просто частная медицинская компания, оказывающая комплекс услуг от взятия материалов на анализ до постановки диагноза. Мы делаем все для того, чтобы наши клиенты чувствовали уверенность в завтрашнем дне.</p>
        <p>Наши специалисты берут на себя личную и профессиональную ответственность за результат лечения пациентов.</p>
      </div>
    </div>
  </div>
</section>

<section class="checkup">
  <div class="container">
    <div class="checkup-grid">
      <div class="ublock">
        <div class="ublock-head">
          <div class="ublock-head__icon"><img src="#" alt=""></div>
          <h3 class="ublock-head__title">Для Физических лиц</h3>
        </div>
        <div class="ublock-content">
          <div class="ublock-col">
            <ul class="ublock-links">
              <li><a href="#">Справки</a></li>
              <li><a href="#">Трудоустройство</a></li>
            </ul>
          </div>
          <div class="ublock-col"><a href="#" class="btn">ЗАКАЗАТЬ ЗВОНОК</a></div>
        </div>
      </div>
      <div class="ublock">
        <div class="ublock-head">
          <div class="ublock-head__icon"><img src="#" alt=""></div>
          <h3 class="ublock-head__title">Для Юридических лиц</h3>
        </div>
        <div class="ublock-content">
          <div class="ublock-col">
            <ul class="ublock-links">
              <li><a href="#">Периодический профосмотр</a></li>
              <li><a href="#">Предрейсовые осмотры</a></li>
            </ul>
          </div>
          <div class="ublock-col"><a href="#" class="btn">ЗАКАЗАТЬ ЗВОНОК</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'components/best-section.html' %}

{% include 'components/quiz-section.html' %}

{% endblock %}