{% extends 'components/_layout.html' %}
{% set site_title = 'Комплексы' %}

{% block content %}

<section class="complex">
  <div class="container">
    <div class="complex-grid">
      <div class="ublock ublock-sm">
        <div class="ublock-head">
          <div class="ublock-head__icon"><img src="img/svg/u-7.svg" alt=""></div>
          <h3 class="ublock-head__title">Выгода</h3>
        </div>
        <div class="ublock-content">
          <div class="ublock-text">Ваша выгода при покупке комплексной программы – до 10% по сравнению с обычной стоимостью услуг</div>
        </div>
      </div>
      <div class="ublock ublock-sm">
        <div class="ublock-head">
          <div class="ublock-head__icon"><img src="img/svg/u-8.svg" alt=""></div>
          <h3 class="ublock-head__title">Скорость</h3>
        </div>
        <div class="ublock-content">
          <div class="ublock-text">Возможность осуществить за 2 посещения всю инструментальную и лабораторную диагностику и получить консультацию врача</div>
        </div>
      </div>
      <div class="ublock ublock-sm">
        <div class="ublock-head">
          <div class="ublock-head__icon"><img src="img/svg/u-9.svg" alt=""></div>
          <h3 class="ublock-head__title">Качество</h3>
        </div>
        <div class="ublock-content">
          <div class="ublock-text">Клиника располагает диагностическим оборудованием последнего поколения и квалифицированными врачебными кадрами</div>
        </div>
      </div>
      <div class="ublock ublock-sm">
        <div class="ublock-head">
          <div class="ublock-head__icon"><img src="img/svg/u-10.svg" alt=""></div>
          <h3 class="ublock-head__title">Комфорт</h3>
        </div>
        <div class="ublock-content">
          <div class="ublock-text">Все необходимые процедуры и манипуляции осуществляются в одном месте и в удобное для вас время.</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="complex-list">
  <div class="container">
    {% include 'components/complex-item.html' %}
    {% include 'components/complex-item.html' %}
    {% include 'components/complex-item.html' %}
    {% include 'components/complex-item.html' %}
    {% include 'components/complex-item.html' %}
    {% include 'components/complex-item.html' %}
  </div>
</section>

<section class="quiz complex-quiz">
  <div class="container">
    <div class="quiz-bubble"><span></span><span></span></div>
    <img src="img/quiz-woman-2.png" alt="" class="quiz-woman">
    <div class="quiz-wrapper">
      <h2 class="quiz-title">ПОДБЕРИТЕ СВОЮ<br> ПРОГРАММУ</h2>
    </div>
  </div>
</section>

{% include 'components/sections/faq.html' %}

{% include 'components/sections/promo.html' %}

{% endblock %}