{% extends 'components/_layout.html' %}
{% set site_title = 'Контакты' %}

{% block content %}

<section class="contacts">
  <div class="container">
    <h2 class="title"><span>Контакты</span></h2>
    <div class="contacts-list">
      <div class="contacts-item">
        <h4>Контактный центр</h4>
        <p><a href="tel:+7 (8212) 40-00-75">+7 (8212) 40-00-75</a></p>
        <p><a href="mailto:com@mercury-mc.ru">com@mercury-mc.ru</a></p>
      </div>
      <div class="contacts-item">
        <h4>Корпоративным клиентам</h4>
        <p><a href="tel:+7 (8212) 40-00-75">+7 (8212) 40-00-75</a></p>
        <p><a href="mailto:com@mercury-mc.ru">com@mercury-mc.ru</a></p>
      </div>
      <div class="contacts-item">
        <h4>Реклама</h4>
        <p><a href="tel:+7 (8212) 40-00-75">+7 (8212) 40-00-75</a></p>
        <p><a href="mailto:com@mercury-mc.ru">com@mercury-mc.ru</a></p>
      </div>
      <div class="contacts-item">
        <h4>Поставщикам</h4>
        <p><a href="tel:+7 (8212) 40-00-75">+7 (8212) 40-00-75</a></p>
        <p><a href="mailto:com@mercury-mc.ru">com@mercury-mc.ru</a></p>
      </div>
      <div class="contacts-item">
        <h4>Служба персонала</h4>
        <p><a href="tel:+7 (8212) 40-00-75">+7 (8212) 40-00-75</a></p>
        <p><a href="mailto:com@mercury-mc.ru">com@mercury-mc.ru</a></p>
      </div>
    </div>
  </div>
</section>

{% include 'components/feedback-section.html' %}

{% endblock %}