{% extends 'components/_layout.html' %}
{% set site_title = 'Корпоративным клиентам' %}

{% block content %}

<section class="quiz complex-quiz">
  <div class="container">
    <div class="quiz-bubble"><span></span><span></span></div>
    <img src="img/quiz-woman-2.png" alt="" class="quiz-woman">
    <div class="quiz-wrapper">
      <h2 class="quiz-title">ПОДБЕРИТЕ СВОЮ<br> ПРОГРАММУ</h2>
    </div>
  </div>
</section>

{% include 'components/best-section.html' %}

{% include 'components/faq-section.html' %}

{% include 'components/feedback-section.html' %}

{% endblock %}