{% extends 'components/_layout.html' %}
{% set site_title = 'Корпоративным клиентам' %}

{% block content %}

<section class="corporative">
  <div class="container">
    <div class="highlight">
      <div class="highlight-main">
        <h2 class="title"><span>Корпоративным клиентам</span></h2>
        <div class="highlight-content">
          <p>Медицинский центр «МеркуриМед» имеет многолетний успешный опыт проведения профосмотров (периодических, предварительных) с 2016 года. Мы знаем, как организовать процесс быстро, комфортно и в полном соответствии с законодательством.</p>
          <p>Все необходимые специалисты и оборудование находятся в одном центре, осмотр проводится в день обращения в полном объеме. Для вашего удобства организована электронная очередь, широкие холлы, бесплатный чай, что обеспечивает оперативность и комфорт прохождения профосмотров.</p>
        </div>
      </div>
      <div class="highlight-sidebar">
        <img src="img/services-head.jpg" alt="">
      </div>
    </div>
    <div class="highlight">
      <div class="highlight-main">
        <h2 class="title"><span>ПРОФОСМОТР</span></h2>
        <div class="highlight-content">
          <p>Все профосмотры (периодические и предварительные) регулируются Приказом Минздрава России №29Н от 28.01.2021 года. Приказом закреплен базовый перечень исследований и врачей-специалистов, который актуален для всех. Дополнительный объем обследований будет определен согласно справочнику пунктов вредности, в зависимости от вида деятельности.</p>
        </div>
      </div>
      <div class="highlight-sidebar">
        <a href="#" class="btn btn-outline">Подробнее о профосмотрах</a>
        <a href="#" class="btn">ЗАКАЗАТЬ ЗВОНОК</a>
      </div>
    </div>
    <div class="highlight">
      <div class="highlight-main">
        <h2 class="title"><span>Предрейсовый осмотр</span></h2>
        <div class="highlight-content">
          <p>Все профосмотры (периодические и предварительные) регулируются Приказом Минздрава России №29Н от 28.01.2021 года. Приказом закреплен базовый перечень исследований и врачей-специалистов, который актуален для всех. Дополнительный объем обследований будет определен согласно справочнику пунктов вредности, в зависимости от вида деятельности.</p>
        </div>
      </div>
      <div class="highlight-sidebar">
        <a href="#" class="btn btn-outline">Подробнее о профосмотрах</a>
        <a href="#" class="btn">ЗАКАЗАТЬ ЗВОНОК</a>
      </div>
    </div>
  </div>
</section>

<section class="calc">
  <div class="container">
    <h2 class="title"><span>КАЛЬКУЛЯТОР</span></h2>
    <p>Для расчета конечной стоимости прохождения профосмотра Вы можете воспользоваться онлайн-калькулятором. Расчет стоимости происходит автоматически.</p>
  </div>
</section>

<section class="dms">
  <div class="container">
    <div class="highlight">
      <div class="highlight-main">
        <h2 class="title"><span>ДМС</span></h2>
        <div class="highlight-content">
          <p>Все профосмотры (периодические и предварительные) регулируются Приказом Минздрава России №29Н от 28.01.2021 года. Приказом закреплен базовый перечень исследований и врачей-специалистов, который актуален для всех. Дополнительный объем обследований будет определен согласно справочнику пунктов вредности, в зависимости от вида деятельности.</p>
        </div>
      </div>
      <div class="highlight-sidebar">
        <a href="#" class="btn">ЗАПРОСИТЬ ЦЕНЫ</a>
      </div>
    </div>
  </div>
</section>

<section class="legal">
  <div class="container">
    <div class="legal-list">
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
      {% include 'components/legal-item.html' %}
    </div>
    {# Если больше 5 документов, то отрисовывай кнопку #}
    <div class="legal-btn"><a href="javascript:;" class="btn btn-outline">Показать больше документов</a></div>
  </div>
</section>

<section class="partners">
  <div class="container">
    <h2 class="title"><span>Страховым компаниям</span></h2>
    <p>Все профосмотры (периодические и предварительные) регулируются Приказом Минздрава России №29Н от 28.01.2021 года. Приказом закреплен базовый перечень исследований и врачей-специалистов, который актуален для всех. Дополнительный объем обследований будет определен согласно справочнику пунктов вредности, в зависимости от вида деятельности.</p>
    <ul class="partners-grid">
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
      <li><a href="#"><img src="img/partner.png" alt=""></a></li>
    </ul>
  </div>
</section>

<section class="quiz complex-quiz">
  <div class="container">
    <div class="quiz-bubble"><span></span><span></span></div>
    <img src="img/quiz-woman-2.png" alt="" class="quiz-woman">
    <div class="quiz-wrapper">
      <h2 class="quiz-title">ПОДБЕРИТЕ СВОЮ<br> ПРОГРАММУ</h2>
    </div>
  </div>
</section>

{% include 'components/best-section.html' %}

{% include 'components/faq-section.html' %}

{% include 'components/feedback-section.html' %}

{% endblock %}