{% extends 'components/_layout.html' %}
{% set site_title = 'Обратная связь' %}

{% block content %}

<section class="feedback-head">
  <div class="container">
    <div class="highlight">
      <div class="highlight-main">
        <h2 class="title"><span>ОБРАТНАЯ СВЯЗЬ</span></h2>
        <div class="highlight-content">
          <p>Здесь вы можете заполнить Заявление на предоставление справки для налоговых органов. Тут еще какой-то общий текст для СЕО или для пояснения что делать может список еще документов? я не разбираюсь</p>
        </div>
      </div>
      <div class="highlight-sidebar">
        <a href="#" class="btn btn-outline">Заполнить заявление</a>
      </div>
    </div>
  </div>
</section>

{% include 'components/faq-section.html' %}

{% include 'components/feedback-section.html' %}

{% endblock %}