{% extends 'components/_layout.html' %}
{% set site_title = 'Акции' %}

{% block content %}

<section class="promo">
  <div class="container">
    <h2 class="title"><span>АКЦИИ</span></h2>
    <div class="promo-grid">
      {% include 'components/promo-item.html' %}
      {% include 'components/promo-item.html' %}
      {% include 'components/promo-item.html' %}
      {% include 'components/promo-item.html' %}
      {% include 'components/promo-item.html' %}
      {% include 'components/promo-item.html' %}
    </div>
  </div>
</section>

{% endblock %}