{% extends 'components/_layout.html' %}
{% set site_title = 'Страница акции' %}

{% block content %}

<section class="promo-single">
  <div class="container">
    <div class="promo-single__poster"><img src="img/promo-item.jpg" alt=""></div>
    <div class="promo-single__content">
      <h2 class="promo-single__title">УЗИ молочных желез + Маммография = Скидка 20%</h2>
      <p>МеркуриМед - это не просто частная медицинская компания, оказывающая комплекс услуг от взятия материалов на анализ до постановки диагноза. Мы делаем все для того, чтобы наши клиенты чувствовали уверенность в завтрашнем дне. Наши специалисты берут на себя личную и профессиональную ответственность за результат лечения пациентов.</p>
      <p>МеркуриМед - это не просто частная медицинская компания, оказывающая комплекс услуг от взятия материалов на анализ до постановки диагноза. Мы делаем все для того, чтобы наши клиенты чувствовали уверенность в завтрашнем дне. Наши специалисты берут на себя личную и профессиональную ответственность за результат лечения пациентов.</p>
      <p>МеркуриМед - это не просто частная медицинская компания, оказывающая комплекс услуг от взятия материалов на анализ до постановки диагноза. Мы делаем все для того, чтобы наши клиенты чувствовали уверенность в завтрашнем дне. Наши специалисты берут на себя личную и профессиональную ответственность за результат лечения пациентов.</p>
      <h2>ПОДЗАГОЛОВОК</h2>
      <p>Часто происходит, что другой доктор направляет пациента к эндокринологу. Гинекологи, урологи, терапевты — эти специалисты тесно работают с эндокринологами. К врачу нужно сходить супругам, которые планируют зачатие ребенка, людям, у которых лишний вес, и тем, у кого его недобор. Обязательно сходите к эндокринологу, если вдруг возникли следующие проблемы:</p>
      <ul>
        <li>постоянная утомляемость,</li>
        <li>сонливость,</li>
        <li>потеря памяти,</li>
        <li>постоянное онемение рук и ног и т.д.</li>
      </ul>
    </div>
    <a href="#" class="btn">ЗАПИСАТЬСЯ ПО АКЦИИ</a>
  </div>
</section>

{% endblock %}