{% extends 'components/_layout.html' %}
{% set site_title = 'Результаты поиска' %}

{% block content %}

<section class="search">
  <div class="container">
    <h2 class="title"><span>Результаты поиска</span></h2>
    <ul class="search-result">
      <li>
        <a href="#">
          <b>Акция "Прием терапевта за 800₽" до 29.02.2024!</b>
          <p>Акция Прием терапевта за 800₽ до 29.02.2024!</p>
        </a>
      </li>
      <li>
        <a href="#">
          <b>Акция "Прием терапевта за 800₽" до 29.02.2024!</b>
          <p>Акция Прием терапевта за 800₽ до 29.02.2024!</p>
        </a>
      </li>
      <li>
        <a href="#">
          <b>Консультация терапевта с определением временной нетрудоспособности</b>
          <p>Консультация терапевта с определением временной нетрудоспособности</p>
        </a>
      </li>
      <li>
        <a href="#">
          <b>Приём (осмотр, консультация) врача-терапевта с выездом на дом в пределах локации №3 (Эжвинский район, п.Краснозатонский,)</b>
          <p>Приём (осмотр, консультация) врача-терапевта с выездом на дом в пределах локации №3 (Эжвинский район, п.Краснозатонский,)</p>
        </a>
      </li>
      <li>
        <a href="#">
          <b>Лечебный сеанс психотерапевта (40-60 минут)</b>
          <p>Лечебный сеанс психотерапевта (40-60 минут)</p>
        </a>
      </li>
      <li>
        <a href="#">
          <b>Приём (осмотр, консультация) врача-терапевта (первичный) Эжвинское подразделение</b>
          <p>Приём (осмотр, консультация) врача-терапевта (первичный) Эжвинское подразделение</p>
        </a>
      </li>
      <li>
        <a href="#">
          <b>Перминова Надежда Ивановна</b>
          <p>Перминова Надежда Ивановна Психотерапевт Врач психотерапевт высшей квалификационной категории / Врач психиатр высшей квалификационной категории</p>
        </a>
      </li>
      <li>
        <a href="#">
          <b>Приём (осмотр, консультация) врача-терапевта (повторный) Эжвинское подразделение</b>
          <p>Приём (осмотр, консультация) врача-терапевта (повторный) Эжвинское подразделение</p>
        </a>
      </li>
      <li>
        <a href="#">
          <b>Приём (осмотр, консультация) врача-терапевта (повторный) Городское подразделение</b>
          <p>Приём (осмотр, консультация) врача-терапевта (повторный) Городское подразделение</p>
        </a>
      </li>
      <li>
        <a href="#">
          <b>Приём (осмотр, консультация) врача-терапевта (первичный) Городское подразделение</b>
          <p>Приём (осмотр, консультация) врача-терапевта (первичный) Городское подразделение</p>
        </a>
      </li>
    </ul>
  </div>
</section>

{% endblock %}