{% extends 'components/_layout.html' %}
{% set site_title = 'Услуги и цены - раздел' %}

{% block content %}

<section class="services-head">
  <div class="container">
    <div class="highlight">
      <div class="highlight-main">
        <h2 class="title"><span>Эндокринология</span></h2>
        <div class="highlight-content">
          <p>Часто происходит, что другой доктор направляет пациента к эндокринологу. Гинекологи, урологи, терапевты — эти специалисты тесно работают с эндокринологами. К врачу нужно сходить супругам, которые планируют зачатие ребенка, людям, у которых лишний вес, и тем, у кого его недобор. Обязательно сходите к эндокринологу, если вдруг возникли следующие проблемы:</p>
          <ul>
            <li>постоянная утомляемость,</li>
            <li>сонливость,</li>
            <li>потеря памяти,</li>
            <li>постоянное онемение рук и ног и т.д.</li>
          </ul>
        </div>
      </div>
      <div class="highlight-sidebar">
        <img src="img/services-head-2.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="services-price">
  <div class="container">
    {% include 'components/price-table.html' %}
    {% include 'components/price-table.html' %}
    {% include 'components/price-table.html' %}
    <div class="price-btn">
      <a href="#" class="btn btn-back">Вернуться к услугам</a>
      <a href="#" class="btn">ЗАПИСАТЬСЯ НА ПРИЕМ</a>
    </div>
  </div>
</section>

<section class="services-text">
  <div class="container">
    <h2 class="services-text__title">Общие рекомендации</h2>
    <p>1. Составьте список вопросов:</p>
    <ul>
      <li>Запишите все вопросы, которые у вас есть по поводу вашего здоровья или состояния.</li>
      <li>Обратите внимание на любые симптомы, изменения в весе, аппетите, уровне энергии.</li>
    </ul>
    <p>2. Подготовьте медицинскую историю:</p>
    <ul>
      <li>Принесите с собой медицинские документы, результаты анализов, снимки, если они у вас есть.</li>
      <li>Укажите все лекарства, витамины или добавки, которые вы принимаете.</li>
    </ul>
    <p>3. Подготовьте список лекарств и аллергий. Важно уведомить врача обо всех принимаемых вами лекарствах и возможных реакциях на них.</p>
    <p>4. Запишите историю болезней. Подумайте о своей медицинской истории: расскажите о любых хронических заболеваниях, операциях или серьезных заболеваниях в вашем прошлом.</p>
    <p>5. Подготовьте вопросы о плане лечения. Попросите у врача информацию о возможных вариантах лечения, рекомендациях по изменению образа жизни и т. д.</p>
    <p>6. Заранее уточните условия приема. Убедитесь, что вы знаете детали приема: время, место, необходимость подготовки к определенным процедурам (например, анализы натощак).</p>
    <p>7. Приходите готовым к обсуждению. Будьте готовым ответить на вопросы врача и задавать свои вопросы для получения максимально полной информации.</p>
    <p>8. Примите во внимание мнение врача. Помните, что врач может дать рекомендации, основанные на медицинских данных, их важно учитывать.</p>
    <p>Эти рекомендации помогут сделать ваш визит к эндокринологу более продуктивным и эффективным.</p>
  </div>
</section>

{% include 'components/sections/specialists.html' %}

{% include 'components/sections/quiz.html' %}

{% include 'components/sections/promo.html' %}

{% include 'components/sections/faq.html' %}

{% endblock %}