{% extends 'components/_layout.html' %}
{% set site_title = 'Услуги и цены - раздел' %}

{% block content %}

<section class="services-head">
  <div class="container">
    <img src="img/services-head-2.jpg" alt="" class="services-head__image">
    <h2 class="title"><span>Эндокринология</span></h2>
    <div class="services-head__wrapper">
      <div class="services-head__text">
        <p>Часто происходит, что другой доктор направляет пациента к эндокринологу. Гинекологи, урологи, терапевты — эти специалисты тесно работают с эндокринологами. К врачу нужно сходить супругам, которые планируют зачатие ребенка, людям, у которых лишний вес, и тем, у кого его недобор. Обязательно сходите к эндокринологу, если вдруг возникли следующие проблемы:</p>
        <ul>
          <li>постоянная утомляемость,</li>
          <li>сонливость,</li>
          <li>потеря памяти,</li>
          <li>постоянное онемение рук и ног и т.д.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="services-price">
  <div class="container">
    <div class="price">
      <h3 class="price-title">Название раздела</h3>
      <div class="price-table">
        <div class="price-row">
          <div class="price-col">Название услуги</div>
          <div class="price-col">Цена, руб.</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
      </div>
    </div>
    <div class="price">
      <h3 class="price-title">Название раздела</h3>
      <div class="price-table">
        <div class="price-row">
          <div class="price-col">Название услуги</div>
          <div class="price-col">Цена, руб.</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
      </div>
    </div>
    <div class="price">
      <h3 class="price-title">Название раздела</h3>
      <div class="price-table">
        <div class="price-row">
          <div class="price-col">Название услуги</div>
          <div class="price-col">Цена, руб.</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
        <div class="price-row">
          <div class="price-col">Приём (осмотр, консультация) врача - эндокринолога (первичный)</div>
          <div class="price-col">1400</div>
        </div>
      </div>
    </div>
    <div class="price-btn">
      <a href="#" class="btn btn-back">Вернуться к услугам</a>
      <a href="#" class="btn">ЗАПИСАТЬСЯ НА ПРИЕМ</a>
    </div>
  </div>
</section>

{% include 'components/promo-section.html' %}

{% include 'components/quiz-section.html' %}

{% include 'components/specialists-section.html' %}

{% endblock %}