{% extends 'components/_layout.html' %}
{% set site_title = 'Страница врача' %}

{% block content %}

<section class="specialists-single">
  <div class="container">
    <h2 class="title"><span>Биричевская Юлия Константиновна</span></h2>
    <div class="specialists-single__card">
      <div class="specialists-single__photo"><img src="img/specialists-single.png" alt=""></div>
      <div class="specialists-single__info">
        <div class="specialists-single__label">
          <b>Должность:</b>
          <p>Врач ультразвуковой диагностики</p>
        </div>
        <div class="specialists-single__label">
          <b>Дополнительная информация:</b>
          <p>Врач ультразвуковой диагностики ГБУЗ РК «Эжвинская городская поликлиника»</p>
        </div>
        <div class="specialists-single__label">
          <b>Стаж работы:</b>
          <p>Более 6 лет</p>
        </div>
        <div class="specialists-single__label">
          <b>Филиалы:</b>
          <p><a href="#">ул. Орджоникидзе, дом 16</a></p>
        </div>
        <div class="specialists-single__btn">
          <a href="#" class="btn">записаться на прием</a>
          <a href="#" class="btn btn-outline">Оставить отзыв</a>
        </div>
      </div>
    </div>
    <div class="specialists-single__text">
      <h4>Образование:</h4>
      <p>Высшее образование. ГБОУ ВПО «Кировская государственная медицинская академия» Министерства здравоохранения и социального развития РФ, квалификация врач общей практики по специальности «Лечебное дело», 2015г.</p>
      <p>Интернатура. ГБОУ ВПО «Кировская государственная медицинская академия» Министерства здравоохранения и социального развития РФ, квалификация врач по специальности «Терапия», 2016г.</p>
      <p>Профессиональная переподготовка. ГБОУ ВПО «Кировский государственный медицинский университет» Министерства здравоохранения и социального развития РФ по программе «Ультразвуковая диагностика», 2017г.</p>
      <p>Профессиональная переподготовка. ФБОУ ВО «Северо-Западный государственный медицинский университет им. И.И. Мечникова» Министерства здравоохранения РФ по программе «Рентгенология», 2021г.</p>
    </div>
    <div class="specialists-single__text">
      <h4>Курсы повышения квалификации:</h4>
      <p>Государственная аккредитация медицинского работника-специальность «Ультразвуковая диагностика», действительна по 2027 год.</p>
      <p>Государственная аккредитация медицинского работника-специальность «Рентгенология», действительна по 2028 год.</p>
    </div>
  </div>
</section>

<section class="specialists-reviews">
  <div class="container">
    <h2 class="title"><span>ОТЗЫВЫ</span></h2>
  </div>
</section>

<section class="specialists-more">
  <div class="container"><a href="#" class="btn btn-outline">Все специалисты клиники</a></div>
</section>

<section class="specialists-price">
  <div class="container">
    {% include 'components/price-table.html' %}
    <div class="price-btn">
      <a href="#" class="btn btn-back">Перейти ко всем услугам</a>
      <a href="#" class="btn">ЗАПИСАТЬСЯ НА ПРИЕМ</a>
    </div>
  </div>
</section>

{% endblock %}